{% extends 'JAIContactBundle::base.html.twig' %}

{% block contact %}
    <div class="page-header">
        <h1>Contact Me</h1>
        <p>(Plain text only, messages containing HTML tags will not be sent)</p>
    </div>
    	{{ form_start(form) }}
    	{{ form_widget(form) }}
    	{{ form_end(form) }}
{% endblock %}