{% extends 'JAIContactBundle::base.html.twig' %}

{% block contact %}
    <div class="page-header">
        <h1>Feedback Sent!</h1>
    </div>

    <p>We'll get back to you as soon as we can.</p>
{% endblock %}