<p>This message was sent by the contact form at JAIrwin.org.</p>
<hr>
<p><b>Sender Name:</b>  {{ from_name }}
<p><b>Sender Email:</b>  {{ from_email }}
<p><b>Subject:</b>  {{ subject }}

<p>{{ message|nl2br }}</p>
